.navigation-clean {
  background:#fff;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
  font-family:Merriweather, serif;
  background-color:rgba(255,255,255,0);
  padding-top:1em;
  padding-bottom:1em;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top:25px;
    padding-bottom:25px;
    padding-left:10px;
    padding-right:10px;
  }
}

.navigation-clean .navbar-brand {
  font-weight:bold;
  color:#7a306c;
  padding-top:0;
  padding-bottom:0;
  padding-right:0;
  padding-left:0;
  font-family:'Kaushan Script', cursive;
  font-size:28px;
  margin-right:16px;
}

.navigation-clean .navbar-brand:hover {
  color:#7a306c;
}

.navigation-clean .navbar-toggler {
  border-color:#ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background:none;
}

.navigation-clean .navbar-toggler {
  color:#888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color:#ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding:10px;
  padding-left:5px;
  padding-right:5px;
  color:#343261;
  padding-top:10px;
  padding-bottom:10px;
  font-family:'Kaushan Script', cursive;
  font-size:20px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color:#343261;
  font-family:'Kaushan Script', cursive;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color:#e8600c;
  background-color:transparent;
  font-size:20px;
  font-family:'Kaushan Script', cursive;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:none;
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height:2;
  color:#37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background:#eee;
  color:inherit;
}

